<mat-sidenav-container class="example-container" color="primary">
    <mat-sidenav color="primary"
        #sidenav id="sidenav" mode="side" 
        opened 
        class="example-sidenav"
        [fixedInViewport]="true" 
        [fixedBottomGap]="10">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
              <h1> cibo </h1>
            </mat-toolbar-row>
          </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item (click)="changeCategory(link)" *ngFor="let link of outerLinks"><mat-icon class="mr-2">{{link.icon}}</mat-icon>{{link.label}}</a>
            <a mat-list-item (click)="logout()"><mat-icon class="mr-2">exit_to_app</mat-icon>Logout</a>
        </mat-nav-list>
        <!-- <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-icon>local_drink</mat-icon> Products
              </mat-expansion-panel-header>
              <ul>
                  <li><a routerLink="product/productcategory">Product Categories</a></li>
                  <li><a routerLink="product/salesproduct">Sales Products</a></li>
                  <li><a routerLink="product/productsize">Product Sizes</a></li>
              </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-icon>attach_money</mat-icon> Pricing
                   </mat-expansion-panel-header>
                   <ul>
                       <li><a routerLink="pricing/pricingperiods">Pricing Periods</a></li>
                       <li><a routerLink="pricing/productprice">Product Prices</a></li>
                   </ul>
            </mat-expansion-panel>
          </mat-accordion> -->
    </mat-sidenav>
    <mat-sidenav-content>
        <nav mat-tab-nav-bar [backgroundColor]="background">
            <a mat-tab-link *ngFor="let link of selectedLink.innerLinks"
            (click)="setInnerLink(link)"
            [active]="activeInnerLink == link"> {{link.label}} </a>
          </nav>
        <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>
        <div style="width: 85vw; height: 100vh">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>