<div class="container">
    <div class="overlay">
        <div class="login-box h-100">
            <div class="form-container">
                <div>
                    <h1>CiBO</h1>
                </div>
                <div>
                    <input type='number' placeholder="Organisation ID" [(ngModel)]="credentials.organisationId">
                </div>
                <div>
                    <input type="username" placeholder="User" [(ngModel)]="credentials.username">
                </div>
                <div>
                    <input type='password' placeholder="Password" [(ngModel)]="credentials.password">
                </div>
                <div>
                    <input type="button" (click)="tryLogin()" value="Login">
                </div>
            </div>
        </div>
    </div>
</div>
