<table mat-table [dataSource]="tradingHoursList" class="mat-elevation-z8">
    <ng-container matColumnDef="organisationTradingHoursID">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let ID">{{ID.organisationTradingHoursID}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="tradingHoursStart">
        <th mat-header-cell *matHeaderCellDef>Start</th>
        <td mat-cell *matCellDef="let ID">
            <mat-form-field class="input-top-padded">
                <mat-label>Start</mat-label>
                <input matInput [ngxTimepicker]="picker" [format]="12" [value]="ID.tradingHoursStart" [(ngModel)]="ID.tradingHoursStart">
            <ngx-material-timepicker #picker ngxMaterialTimepickerTheme="test"></ngx-material-timepicker>
            </mat-form-field>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="tradingHoursEnd">
        <th mat-header-cell *matHeaderCellDef>End</th>
        <td mat-cell *matCellDef="let ID">
            <mat-form-field class="input-top-padded">
                <mat-label>End</mat-label>
                <input matInput [ngxTimepicker]="picker" [format]="12" [value]="ID.tradingHoursEnd" [(ngModel)]="ID.tradingHoursEnd">
            <ngx-material-timepicker #picker ngxMaterialTimepickerTheme="test"></ngx-material-timepicker>
            </mat-form-field>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="organsationTradingHoursTypeID">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let ID">
            <span *ngIf="!ID.isNew">{{ID.organisationTradingHoursTypeLabel}}</span>
            <mat-form-field *ngIf="ID.isNew" appearance="fill">
                <mat-label></mat-label>
                <mat-select [(value)]="ID.organsationTradingHoursTypeID" (selectionChange)="null">
                  <mat-option></mat-option>
                  <mat-option [value]="option.id" *ngFor="let option of tradingHoursTypes">{{ option.name }}</mat-option>
                </mat-select>
              </mat-form-field>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="specificDay">
        <th mat-header-cell *matHeaderCellDef>Day</th>
        <td mat-cell *matCellDef="let ID">
            <!-- {{ID.specificDay == null ? '' : daysOfWeek[ID.specificDay] }} -->
            {{daysOfWeek[ID.specificDay] }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="pricingPeriod_ID">
        <th mat-header-cell *matHeaderCellDef>Pricing Period</th>
        <td mat-cell *matCellDef="let pricingPeriod">
            <mat-form-field appearance="fill">
                <mat-label></mat-label>
                <mat-select [(value)]="pricingPeriod.pricingPeriod_ID" (selectionChange)="!pricingPeriod.isNew ? updateTradingHoursPricingPeriod($event, pricingPeriod) : test(pricingPeriod)">
                  <mat-option></mat-option>
                  <mat-option [value]="option.id" *ngFor="let option of pricingPeriods">{{ option.periodName }}</mat-option>
                </mat-select>
              </mat-form-field>
        </td>
        <td mat-footer-cell *matFooterCellDef align="right">
            <button mat-flat-button class="mr-1" color="accent">Validate</button>
            <button mat-flat-button color="accent" [disabled]="true">Update</button>
        </td>
    </ng-container>
    <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell class="w-30" *matCellDef="let type; index as i">
            <button *ngIf="type.isNew" class="mr-1" mat-mini-fab color="accent" [disabled]="type.tradingHoursStart == '' || type.tradingHoursStart == null || type.tradingHoursEnd == '' || type.organsationTradingHoursTypeID == null || type.pricingPeriod_ID == null" (click)="saveNewTradingHours(type)">
            <mat-icon>check</mat-icon></button>
            <button *ngIf="type.isNew" mat-mini-fab color="warn" (click)="removeRow(i)">
            <mat-icon>delete</mat-icon></button>
            <!-- <button *ngIf="!type.isNew" class="mr-1" mat-mini-fab color="accent" (click)="type.isNew = true">
                <mat-icon>edit</mat-icon>
            </button> -->
        </td>
        <td mat-footer-cell *matFooterCellDef align="right">
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="finger"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
</table>
<button mat-fab class="f-br" (click)="addNewRow()"><mat-icon>add</mat-icon></button>