<mat-card class="example-card imgPreview" *ngIf="productCategory">
    <mat-form-field>
        <mat-label>Category Name</mat-label>
        <input matInput type='categoryName' [(ngModel)]="productCategory.categoryName">
    </mat-form-field>
    <mat-slide-toggle [(ngModel)]="productCategory.isActive" name="categoryIsActive">Active</mat-slide-toggle>
    <img mat-card-image  [src]="'/assets/img/' + productCategory.imagePath" [alt]="'Category image for ' + productCategory.categoryName">
    <mat-card-actions>
        <button mat-flat-button class="mr-1" color="accent" (click)="openSelectImage()">Change</button>
        <button mat-flat-button color="accent" [disabled]="true">Save</button>
    </mat-card-actions>
</mat-card>